@charset "utf-8";
body{
  background-color: #E0E1E3; /* ペ`ジの背景色 */
  color: #000000; /* 全体の文字色 */
  font-size: 100%; /* 全体の文字サイズ */
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

/* --- 全体のリンクテキスト --- */
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #8e8e8e; }
a:active { color: #9A9EA7; }

/* --- コンテナ --- */
#container {
  width: 1000px; /* ペ`ジの幅 */
  border-left: 1px #CCCCCC solid; /* 左の境界 */
  border-right: 1px #CCCCCC solid; /* 右の境界 */
  margin-bottom:50px;
    margin-top: 10px;

  background-color: #ffffff;
}
/* --- ヘッダ --- */
#header{
  background-color: #ffffff; /* ヘッダの背景色 */
  width:1000px;
  height: 120px;
  float: left;
  border-bottom:0.5px solid #c0c0c0;
}
div#message{
  display: none;
}
input#open{
  display: none;
}
img#img_button_open{
  display: none;
}
/* --- ナビゲ`ション --- */
div#nav {
  float: right;
  width: 198px; /* サイドバ`の幅 */
}
div#nav0{
  padding-top:20px; 
  padding-left: 10px;
  padding-bottom: 20px;
    font-size:35px;
}
#twitter_follow_btn{
  width:180px;
  height:45px;
  margin-top: 10px;
}

div#nav1{
  padding-top:20px; 
  padding-left: 10px;
  padding-bottom: 20px;
  border-top: 0.5px solid #c0c0c0;
}
input#search_thread{
  width:178px;
  height:30px;
  font-size: 20px;
  border:0.5px solid #c0c0c0;
}
input#button_search{
  margin-top: 3px;
  width:180px;
  height:22px;
  font-size: 18px;

  background-color:#F5F5F5;
  border:0.5px solid #c0c0c0;
  border-width:1px;
  border-style:solid;
  border-radius:0;
  cursor: pointer;
}
div#nav2{
  border-top: 0.5px solid #c0c0c0;
  padding-top:10px; 
  padding-left: 10px;
  padding-bottom: 20px;
}
ul#category{
  list-style-type: none;
}
li#category{
  margin-top: 5px; 
  margin-left: 10px;
}
a.category{
  text-decoration: none;
  font-size:22px;
}
/* --- メインカラム --- */
div#main {
  width: 800px; /* メインカラムの幅 */
  border-right: 0.5px solid #c0c0c0;
  float: left;
} 
div#RSS{
  padding-top: 10px;
    padding-left: 10px;
    border-bottom: 0.5px solid #c0c0c0;
 }
.blogroll-channel,
.blogroll-channel * {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    text-decoration: none;

}
.blogroll-channel {
    margin-bottom: 15px;
    padding: 10px;

}

.blogroll-channel .blogroll-list-wrap {
    margin-bottom: 10px;
}

.blogroll-channel .blogroll-list {
    list-style-type: none;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 1.3;
}

.blogroll-channel .blogroll-list img {
    vertical-align: middle;
}

.blogroll-channel img.blogroll-icon,
.blogroll-channel img.blogroll-favicon {
    margin: 0 5px 0 0;
}

.blogroll-channel img.blogroll-favicon {
  width: 16px;
  height: 16px;
}

.blogroll-channel a.blogroll-link {}

.blogroll-channel .blogroll-new-entry {
    margin-left: 5px;
    color: red;
}

.blogroll-channel .blogroll-clip,
.blogroll-channel .blogroll-hatebu {
    margin: 0 0 0 5px;
}
.blogroll-channel .blogroll-link-time {
    margin: 0 0 0 3px;
    color: #666;
    font-size: 10px;
}
.blogroll-channel .blogroll-ad-img {
}
.blogroll-channel .blogroll-ad-text {
    margin-top: 5px;
    color: #666;
    font-size: 12px;
}
 .blogroll-channel {
  height: 150px !important;
  width: 750px;
  overflow-y:none;
}
 .blogroll-inner{
  float: left;
  width: 50%;
 }

.thread{
  padding-top: 30px;
  padding-bottom:10px;
  width:800px;
  border-top:0.5px solid #c0c0c0;
}
div.thread_title{
  margin-left: 20px;
  width: 720px;
  border-bottom: 0.5px solid #c0c0c0;
  border-left:5px solid #000000;
  padding: 10px;
  padding-bottom: 5px;
}
.thread_title a{
  text-decoration:none;
  padding-left: px;
  font-size: 26px;
  width: 720px;
  line-height: 120%;
}
div.thread_img{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
img.thread_img{
      max-width: 780px;
    max-height: 400px;
}
div.thread_main{/*.thumb_main div{というき方だと何故かだめ*/
  margin-top: 20px;
  margin-left:40px;
  padding-top:15px;
  padding-left: 10px;
  border-left:0.5px solid #c0c0c0;
}
.name_res{}
div.t_h{
  font-size: 12px;
  color: gray;
  margin-top: 5px;
  margin-left: 5px;
}
div.t_b{
  margin-top: 10px;
  width: 700px;
  margin-left: 20px;
  font-size: 20px;
  line-height:120%;
  word-break:break-all;
}
div.proceed_to_page{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom:30px;
}
button.proceed_to_page{
  background-color: #f5f5f5;
  border:1px solid #c0c0c0;
  border-radius: 0;
  cursor: pointer;
  width: 300px;
  height: 60px;
  font-size: 24px;
}
button.proceed_to_page:hover{
  background-color: #f5f5f5;
}
a.proceed_to_page{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: 200;
  padding-top: 13px;
}
a.proceed_to_page:hover{
  color: black;
}
li.thread_footer{
  display: inline-block; /* 横Kび */
  list-style:none;
  vertical-align: middle;
}
li.thread_footer_category_label{
  display: none;
}
li.thread_footer_time_modified_label{  
  width: 80px;
  font-size: 16px;
  display: none;
}
li.thread_footer_time_modified{
  width: 220px;
  color: gray;
}
li.thread_footer_category{
  font-size: 16px;
}
li.thread_footer_category>a{
  color: gray;
}
li.thread_footer_time_modified_label{
  width: 80px;
  display: none;
}
img.button_twitter_share{
  width:140px;
  height:35px;
  margin-left: 20px;
}
div.thread_footer_chat{
  margin-left: 368px;
}
div.thread_footer_funnyl{
  margin-left: 336px;
}
div.thread_footer_funnys{
  margin-left: 336px;
}
div.thread_footer_truestory{
  margin-left: 320px;
}
div.thread_footer_fiction{
  margin-left:330px;
}
div.thread_footer_introduction{
  margin-left: 336px;
}
div.thread_footer_content{
  margin-left: 330px;
}
div.thread_footer_words{
  margin-left: 320px;
}
div.thread_footer_lifehack{
  margin-left: 320px;
}
div.thread_footer_that{
  margin-left: 336px;
}
div.thread_footer_crazy{
  margin-left: 336px;
}
div.thread_footer_special{
    margin-left: 370px;
}
div.proceed_to_page{
  width: 100%;
  text-align: center;
}
a.proceed_to_page{
  text-align: center;
}

/* --- フッタ --- */
div#footer {
  width: 100%;
  clear: both;
}
ul{
  width:100%;
  overflow:hidden;
}
.light-theme a, .light-theme span {
  float: left;
  color: #666;
  font-size:40px;
  font-weight: normal;
  text-align:center;
  border-top: 0.5px solid #CCCCCC;
  border-bottom: 0.5px solid #cccccc; 
  border-right: 0.5px solid #cccccc;
  border-bottom-style: 1px;
  width: 79px;
  height: 74.3px;
  text-decoration: none;
  line-height:80px;
  background-color: #F5F5F5;
}
.light-theme a:hover{
  border-top: 0px;
  margin-top: 1px;
}
.simple-pagination li {
  list-style: none;
  float: left;
}
.light-theme .current {
  border-top-style: none;
  border-right-style: none;
  background-color: #ffffff;
}
